<li class="stuff mar-btm message  media-padding" data-id="<%= message.id %>" data-user-id="<%= message.user.id %>">
  <div>
    <%= gravatar_for message.user %>
    <div id="message-speech-<%= message.id %>" class=" media-body pad-hor message-speech media-message  ">
      <div class="speech">
        <h4><%= message.user.full_name %></h4>
        <%= message.body %>
        <p class="speech-time">
          <%= message.created_at.strftime("%A %b %d %I %M ") %>
          <time class="timeago timestamp" datetime=""><%= message.created_at %></time>
        </p>
      </div>
    </div>
  </div>
</li>
