<li class="stuff mar-btm message " data-id="<%= message.id %>" data-user-id="<%= message.user.id %>">

  <div id="message-media-<%= message.id %>" class="message message-media " data-id="<%= message.id %>" data-user-id="<%= message.user.id %>">


    <%= gravatar_for message.user %>


    <div id="message-speech-<%= message.id %>" class=" media-body pad-hor message-speech">
      <div class="speech">
        <h4><%= message.user.full_name %></h4>
        <%= message.body %>
        <p class="speech-time">
          <i class="demo-pli-clock icon-fw"></i>
          <%= message.created_at.strftime("%A %b %d %I ") %>
          <time class="timeago timestamp" datetime=""><%= message.created_at %></time>
        </p>
      </div>

    </div>
  </div>
</li>
