<%= form_for(setup_invoice(@invoice) ) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">

      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control '%>

      <%= f.label :endOfFortnight %>
      <%= f.date_field :endOfFortnight, class:'form-control ' %>
    </div>

    <%= f.fields_for :invoice_rows do |builder| %>
      <div class="row">
        <div class="col-sm-3 ">

          <%= builder.label :project_id %>
          <%= builder.select(:project_id, options_for_select(Project.select_attributes)) %>
        </div>
        <div class="col-sm-3">

          <%= builder.label :rate %>
          <%= builder.text_field :rate %>
        </div>
        </div>


        <%end %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
