<div class="container-fluid">
  <div class="row">
    <hr class="style2">
    <div class="col-sm-1"></div>

    <div class="col-sm-3">
    <%= form_for(setup_invoice(@invoice)) do |f| %>
        <% if @invoice.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

              <ul>
                <% @invoice.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <label for=""><%= @user.first_name %></label><br>
        <label for=""><%= @user.last_name %></label><br>

        <label><%= @user.email %></label><br>
        <label>ABN: <%= @user.abn %></label><br>
        <label> <%= @user.street_no %> <%= @user.street %></label><br>
        <label><%= @user.city  %> <%=@user.state %></label><br>
        <label><%= @user.country %> <%= @user.post_code %></label><br>

        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
          <h1>Tax Invoice</h1>
          <%= f.label :endOfFortnight %>
          <%= f.date_field :endOfFortnight, class: 'form-control ' %>
        </div>
        </div>
          <hr class="style2">

        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <%= select_tag :customer, options_from_collection_for_select(Customer.all.order(:id),:id, :first_name,:last_name),prompt: "select Customer" %>
            <label>Bill To: </label><br>
            <label>full name</label><br>
            <label>ABN: 54757877</label><br>
            <label> 1 street</label><br>
            <label>town state</label><br>
            <label>country 4000</label><br>
          </div>
          <div class="col-sm-3">
            <p>col3</p>
          </div>
          <div class="col-sm-3">
            <label for="">Invoice Number</label><br>
            <label for="">Date</label><br>
            <label for="">Due Date</label><br>
          </div>

        </div>
          </div>

        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            <hr>
          <table class="outline" >
              <tr style="background-color: #f0f0f0;" >
                <th> Project </th>
                <th> Hourly Rate</th>
                <th> Hours </th>
                <th>Description</th>
                <th>Sub Total</th>
              </tr>
            <%= f.fields_for :invoice_rows do |builder| %>
                  <tr>
               <td><%= builder.select(:project_id, options_for_select(Project.select_attributes,)) %></td>

               <td><%= builder.text_field :rate %></td>
               <td><%= builder.text_field :hours  %></td>
               <td><%= builder.text_field :hours  %></td>
               <td><%= builder.text_field :hours  %></td>
            <% end %>
            <tr><td></td><td></td><td></td><td></td><td>total</td></tr>
              </tr>



      </table>
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      </div>
      </div>
<hr class="style2">
    </div>
    </div>
