<p id="notice"><%= notice %></p>


<div class='pull-right '>
  <%= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary' %>
</div>
<h1>Invoices</h1>


<%= will_paginate @invoices %>
<div class="col-xs-5 col-md-5"><strong>Invoice No#</strong></div>
<div class="col-xs-5 col-md-5" ><strong>Customer: </strong></div>
<br>
<br>
<ul>
  <%= render @invoices %>
</ul>
<%= will_paginate @invoices %>

<br>

