<h1><%= @chatroom.title %></h1>

<%= form_for [@chatroom, Message.new], remote: true do |f| %>
    <div class="message_input" data-message-id="<%= @chatroom.id %>">
      <%= f.label :body %>
      <div class="fa fa-paper-plane ana" data-message-id="<%= @chatroom.id %>"></div>
      <%= f.text_area :body, class: 'form-control', autofocus: true %>
      <small class="text-muted">From 2 to 1000 characters</small>
    </div>
    <%= f.button "Post", class: 'btn btn-default' do %>
        Post
        <span><i class="fa fa-paper-plane"></i></span>
    <% end %>
<% end %>


<% unread_messages = false %>

<ul data-behavior='messages' data-chatroom-id="<%= @chatroom.id %>">
  <% @messages.each do |message| %>

      <%= render message %>

  <% end %>
</ul>

