<%= form_with(model: pay_rate, url: new_user_pay_rate_path, local: true) do |form| %>
  <% if pay_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pay_rate.errors.count, "error") %> prohibited this pay_rate from being saved:</h2>

      <ul>
      <% pay_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :pay_rate_rate %>
  </div>

  <div class="field">
    <%= form.label :holiday %>
    <%= form.text_field :holiday, id: :pay_rate_holiday %>
  </div>

  <div class="field">
    <%= form.label :superannuation %>
    <%= form.text_field :superannuation, id: :pay_rate_superannuation %>
  </div>

  <div class="field">
    <%= form.label :project %>
    <%= form.text_field :projects, id: :pay_rate_projects %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :pay_rate_date %>

  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
