
<p>
  <strong>Rate:</strong>
  <%= @pay_rate.rate %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @pay_rate.holiday %>
</p>

<p>
  <strong>Superannuation:</strong>
  <%= @pay_rate.superannuation %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @pay_rate.project %>
</p>
<p>
  <strong>Date:</strong>
  <%= @pay_rate.date %>
</p>
<%= link_to 'Edit', edit_user_pay_rate_path(@pay_rate) %> |
<%= link_to 'Back', user_pay_rates_path %>
