  <div class="form-horizontal">
    <%= devise_error_messages! %>
    <%= form_for(@user, remote: true) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :email, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :email, class: "form-control", :autofocus => true %>
            </div>
          </div>
        </div>
        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :password, class: "control-label" unless !@user.new_record? %>
            </div>
            <div class=" col-sm-7">
              <%= f.password_field :password, class: "form-control" unless !@user.new_record? %>
            </div>
          </div>
        </div>
        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :password_confirmation, class: "control-label" unless !@user.new_record? %>
            </div>
            <div class=" col-sm-7">
              <%= f.password_field :password_confirmation, class: "form-control" unless !@user.new_record? %>
            </div>
          </div>
        </div>
        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :first_name, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :last_name, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :street_no, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :street_no, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :street, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :street, class: "form-control" %>
            </div>
          </div>
          </div>
        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :city, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :city, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">

        <div class="row">
            <div class="col-sm-2">
              <%= f.label :state, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :state, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <%= f.label :country, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :country, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
              <%= f.label :post_code, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :post_code, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :abn, class: "control-label" %>
            </div>
            <div class=" col-sm-7">
              <%= f.text_field :abn, class: "form-control" %>
            </div>
          </div>
          </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :rate, class: "control-label" %>
            </div>
            </div>
            <div class=" col-sm-7">
              $ <%= @user.pay_rates.last.rate if @user.pay_rates.present? %> Per Hour


              <div class="actions">

                <% if @user.pay_rates.present? %>
                      <%= link_to_add_fields "Change Pay Rate", f, :pay_rates, 'users/pay_rates' %>
                  <% else %>
                      <%= link_to_add_fields "Add Pay Rate", f, :pay_rates, 'users/pay_rates' %>
                  <% end %>

              </div>
              <div class="table-responsive">
                <table>
                  <tr id="hours">
                  </tr>


                  </tr>
                </table>
              </div>
            </div>
          </div>


          <div class="row">


            <%= f.submit class: "create-user btn btn-default pull-right" %>

              </div>

    <% end %>
  </div>
