<div class="box">


  <%= form_tag user_user_income_path(@user), method: :get, remote: true do %>

      <div class="row">
        <div class="col-md-7">
          <div class="btn-group">
            <div class="dropdown show">
              <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Projects
              </a>

              <button formaction=" <%= user_user_income_path(@user, format: 'pdf') %>" type="submit" class="btn btn-default">Pdf</button>
              <button formaction=" <%= user_user_income_path(@user, format: 'csv') %>" type="submit" class="btn btn-default">Csv</button>
              <button formaction=" <%= user_user_income_path(@user, format: 'xlsx') %>" type="submit" class="btn btn-default">Excel</button>
              <%= submit_tag 'search', class: 'btn btn-default' %>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

              <%= select_tag(:project_search, options_for_select(Project.select_attributes, params[:project_search]),
                             size: Project.select_attributes.length+1,
                             multiple: true,
                             :include_blank => true,

                             style: 'overflow-hidden',
                  ) %>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= label_tag :start_date %>
            <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>


            <%= label_tag :end_date %>
            <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
          </div>
        </div>

  <% end %>

  <h1>Total Income <%= @sub_total[:total] %>
    Superannuation <%= @sub_total[:superannuation] %>
  </h1>

  <div id="user_income">
    <div id="page_links">
      <%= will_paginate @user_table, remote: true, format: :js %>
    </div>
    <%= render 'users/all_user_work' %>

    <div id="page_links">
      <%= will_paginate @user_table, remote: true %>
    </div>

  </div>

  </div>
<script type="text/javascript">

</script>