<%= form_tag user_user_income_path(@user), method: :get,format: :js, remote: true do %>
    <%= select_tag(:project_search, options_for_select(Project.select_attributes,params[:project_search]) ,:include_blank => true, :onchange => "click_search()", class: "btn btn-default")  %>
    <%= submit_tag '',id: :search_project, remote: true , style:"display: none;" %>
<% end %>

<h1>Total Income <%= @total_pay[:total] %>
  Superannuation <%= @total_pay[:superannuation] %>
  Holidays <%= @total_pay[:holidays] %></h1>

<div id="user_income">
  <%= render 'users/all_user_work' %>
</div>


<script type="text/javascript">
    function click_search()
    {
        $('#search_project').click();
    }
</script>