<p id="notice"><%= notice %></p>
<div class="box">
<div class='pull-right '  >
  <button  id="new-project" class="btn btn-primary">New User</button>
</div>
<h1>Users</h1>


  <NewProject id="NewProject" class="new-project">
    <%= render 'form' %>
  </NewProject>

</div>
<%= will_paginate @users %>

<ul>
<%= render @users %>
</ul>
<%= will_paginate @users %>

