<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Street no:</strong>
  <%= @user.street_no %>
</p>

<p>
  <strong>Street:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @user.post_code %>
</p>

<p>
  <strong>Abn:</strong>
  <%= @user.abn %>
</p><p>
<p>
<table>
  <tr>
    <th><strong>Rate:</strong></th>
    <th><strong>Date:</strong></th>
  </tr>
  <% @user.pay_rates.each do |u| %>

    <tr>
      <td><%= u.rate %></td>
      <td><%= u.created_at.strftime("%A %b %d") %></td>
    </tr>
  <% end %>
  </table>

</p>






<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
