<div class="table-responsive">




  <table class="table outline table-striped table-hover">
    <tr class=" grey_backgound">
      <th>Employee</th>
      <th>Date worked</th>
      <th>Rate</th>
      <th>Hours</th>
      <th>Sub Total</th>
    </tr>
    <% work.each_with_index do |work, i| %>

        <tr>
        <span>
        <td><%= link_to "#{work.time_sheet.user.full_name}", time_sheet_path(work.time_sheet) %></td>
        <td><%= work.time_sheet.time_period.strftime("%A %b %d ") %></td>
        <td><%= work.time_sheet.user.rate(work.time_sheet.time_period) %></td>
        <td>  <%= work.hour %> </td>
        <td>$<%= @total_for_user[i] %></td></span></tr>
    <% end %>
    <td></td>
    <td></td>
    <td></td>

    <td>total hours <%= @project.sum_time_sheet(@work) %>
    </td>

    <td>total cost $<%= @total %></td>
    <tr>
    </tr>
  </table>
</div>
