<div class="table-responsive">




  <table class="table outline table-striped table-hover">
    <tr class=" grey_background">
      <th>Employee</th>
      <th>Date worked</th>
      <th>Hours</th>
      <th>Rate</th>
      <th>Description</th>
      <th>Sub Total</th>
    </tr>
    <% work.each_with_index do |time_sheet, i| %>

        <tr>
        <span>
        <td><%= link_to "#{time_sheet.user.full_name}", current_day_path(time_sheet.time_period, project_id: @project.id) %></td>
        <td><%= time_sheet.time_period.strftime("%A %b %d ") %></td>
        <td>  <%= time_sheet.hour %> </td>
        <td><%= time_sheet.user.rate(time_sheet.time_period) %></td>
          <td><%= time_sheet.description %></td>
        <td>$<%= @total_for_user[i] %></td></span></tr>
    <% end %>
    <td></td>
    <td></td>
    <td>total hours <%= @project.sum_time_sheet(@work) %> </td>

    <td></td>
    <td></td>
    <td>total cost $<%= @total %></td>
    <tr>
    </tr>
  </table>
</div>
