<div class="table-responsive">
  <table class="table outline table-striped table-hover">
    <div id="page_links">
      <%= will_paginate @time %>
    </div>
    <tr class=" grey_backgound">
      <th>User Name</th>
      <th>Date worked</th>
      <th>Rate</th>
      <th>Hours</th>
      <th>Project Name</th>
      <th>Sub Total</th>

    </tr>
    <% @time.each_with_index do |time, i | %>

        <tr>
        <span>
        <td><%= link_to "#{time.user.full_name}", time_sheet_path(time) %></td>
        <td><%= time.time_period.strftime("%A %b %d ") %></td>
        <td><%= time.user.rate(time.time_period) %></td>
        <td>  <%= time.hour %> </td>
        <td>  <%= Project.find(time.project_id).name %> </td>
        <td>$<%= @total_for_user[i] %></td></span></tr>
    <% end %>
    <td></td>
    <td></td>
    <td></td>

    <td>total hours <%= @project.sum_time_sheet(@project.all_time_sheets) %>
    </td>

    <td>total cost <%= @total %></td>
    <tr>
    </tr>
  </table>
  <div id="page_links">
    <%= will_paginate @time %>
  </div>
</div>


