<div class="box">
<div id="flash">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>


<h1>Editing Project</h1>
</div><div class="box">
  <%= link_to 'Show', @project,class: 'btn btn-default' %>
  <%= link_to 'Back', projects_path,class: 'btn btn-default' %>
</div><div class="box">

  <%= render 'form', project: @project %>
</div>
</div>
