<p id="notice"><%= notice %></p>
<div class='pull-right '  >
  <button  id="new-project" class="btn btn-primary">New Project</button>
</div>
<h1>Projects</h1>

<div>
<NewProject id="NewProject" class="new-project">
  <%= render 'form' %>
</NewProject>

</div>

<%= will_paginate @projects %>
<ul >
<%= render @projects %>
</ul>
<%= will_paginate @projects %>


<br>
