<div class="box">
<div class="container-fluid">
<p id="notice"><%= notice %></p>

<div class="row">
<div class='pull-right'  >
  <button  id="new-project" class="btn btn-primary">New Project</button>
</div>
<h1>Projects</h1>

<div>
  <div>
<NewProject id="NewProject" class="new-project">
  <div id="" >
  <%= render 'form' %>
  </div>
</NewProject>
  </div>
</div>
</div>

  <br>

</div>


<%= will_paginate @projects %>


<br>
<ul>

<%= render @projects %>

</ul>
<%= will_paginate @projects %>


<br>
</div>