<div class="container">
  <p id="notice"><%= notice %></p>

 <h1>    <%= @project.name.capitalize %>
 </h1>
  <p>total hours for project <%= Work.total_hours_for_project(@project.id) %></p>
    <table>
      <h1>Hours By Day</h1>
    <%= column_chart @chat  %>

      <h1>Users Hours For This Project</h1>
      <%= pie_chart @pie_chat %>
    </table>



    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>


  </div>
</div>