<div class="container">
  <p id="notice"><%= notice %></p>

  <h1><%= @project.name.capitalize %></h1>
  <h2>Total hours for project <%= Work.total_hours_for_project(@project.id) %></h2>

  <%= form_tag project_path(@project), method: :get do %>
      <div class="row padding_bottom">
        <div class="col-xs-5">
          <button formaction=" <%= project_path(@project, format: 'csv') %>" ,type="submit" , class="btn btn-default">Csv</button>
          <button formaction=" <%= project_path(@project, format: 'xls') %>" ,type="submit" , class="btn btn-default">Excel</button>
          <button formaction=" <%= project_path(@project, format: 'pdf') %>" ,type="submit" , class="btn btn-default">View Invoice</button>
          <%= link_to 'Save Invoice', project_path(@project, save: 'true', start_date: params[:start_date], end_date: params[:end_date]), class: "btn btn-default" %>

        </div>
        <div class="col-xs-2">
          <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
        </div>
        <div class="col-xs-2">
          <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
        </div>
        <div class="col-xs-2">
          <%= submit_tag "search", class: "btn btn-default form-control" %>
        </div>
      </div>

      <br>

      <div id="">
        <%= render 'shared/time_sheets_for_week' %>
      </div>

      <h1>Hours By Day</h1>
      <%= column_chart @column_chart %>

      <h1>Users Hours For This Project</h1>
      <%= pie_chart hours_by_user_projects_path(@project) %>


      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
  <% end %>
</div>
