<div class=" box">
  <p id="notice"><%= notice %></p>
  <h1><%= @project.name.capitalize %></h1>
  <h2>Total hours for project <%= Work.total_hours_for_project(@project.id) %></h2>

</div>
<div class="box">
  <div class="btn-group">
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %>
    <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
    <%= link_to 'GitHub', social_info_index_path(project: @project), class: 'btn btn-default' %>
  </div>
</div>

<div class="box">
  <%= form_tag project_path(@project), method: :get do %>
      <div class="row">
        <div class="btn-group">
          <button formaction=" <%= project_path(@project, format: 'csv') %>" ,type="submit" , class="btn btn-default">Csv</button>
          <button formaction=" <%= project_path(@project, format: 'xlsx') %>" ,type="submit" , class="btn btn-default">Excel</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <%= label_tag :start_date %>
          <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
          <%= label_tag :end_date %>
          <%= date_field_tag :end_date, params[:end_date], class: "form-control " %>
        </div>
        <div class="col-sm-2">
          <br>
          <br>
          <br>
          <br>

          <%= submit_tag "search", class: "btn btn-default " %>
        </div>
        <br>
      </div>
      <br>


      <%= render 'time_sheets_for_week' %>

      </div>
      <div class="box">
        <h1>Hours By Day</h1>
        <%= column_chart @column_chart %>
      </div>
      <div class="box">
        <h1>Users Hours For This Project</h1>
        <%= pie_chart hours_by_user_projects_path(@project) %>

      </div>

  <% end %>

