<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>    <%= @project.name.capitalize %>
  </h1><%= Time.now.beginning_of_week %>

  <p> Time sheet for week ending  <%= Time.now.end_of_week %></p>
  <div id="target-for-change" class="target-for-change"></div>

<p>total hours for project <%= Work.total_hours_for_project(@project.id) %></p>

  <%= link_to "CSV", project_path(@project, format: "csv") %>
  <%= link_to "Excel", project_path(@project, format: "xls") %>

  <div id="">
    <%= render 'shared/time_sheets_for_week' %>
  </div>


  <h1>Hours By Day</h1>
  <%= column_chart hours_by_day_projects_path(@project) %>

  <h1>Users Hours For This Project</h1>
  <%= pie_chart hours_by_user_projects_path(@project) %>


  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>


</div>
</div>