<%= form_for( @time_sheet) do |f| %>
    <% if time_sheet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(time_sheet.errors.count, "error") %> prohibited this time_sheet from being saved:</h2>

          <ul>
            <% time_sheet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h1>  <%= @time_sheet.user.first_name %>&nbsp<%= @time_sheet.user.last_name %></h1>
    <div class="field">
      <%= @time_sheet.time_period%>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: 'btn btn-default' %>

    </div>
    <table class="outline add_fields">
      <tr style="background-color: #f0f0f0;">
        <th>Project</th>
        <th>Hours</th>
        <th>Description</th>
        <th>SubTotal</th>
        <th> </th>
        <th> </th>
      </tr>
      <%= f.fields_for :works do |builder| %>


      <%= render 'works', f: builder %>


          </tr><tr>

      <% end %>
      <%= link_to_add_fields "Add field", f, :works%>

      <tr><td></td><td></td><td></td><td></td><td>total <br> <input type="text"></td></tr>
      </tr>
    </table>

<% end %>
<%= @time_sheet.id %>