<div class="simple-calendar ">
  <div class="calendar-heading row ">
      <div  class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>

    <%= link_to  calendar.url_for_previous_view , style: ' text-align:center' do %>
          <i class="fa fa-angle-left fa-lg"></i>

          <%= t('simple_calendar.previous', default: 'Previous') %>
        <% end %>
      </div>
    <span class="calendar-title col-lg-4 col-md-4 col-sm-4 col-xs-4" ><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <div  class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>

      <%= link_to  calendar.url_for_next_view, style: 'float:right; text-align:right' do %>

          <%= t('simple_calendar.next', default: 'Next') %>
          <i class="fa fa-angle-right fa-lg"></i>

      <% end %>
      </div>
    </div>
  <div style="width: 100%;">
  <h2>Time Sheets For <%= @time_sheets.first.user.full_name rescue '' %></h2>

  <table class="table ">
    <thead>
    <tr>
      <% date_range.slice(0, 7).each do |day| %>
        <th><%= t('date.abbr_day_names')[day.wday] %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% date_range.each_slice(7) do |week| %>

      <tr>

        <% week.each do |day| %>
          <% timesheet = @time_sheets.includes(:works).find_or_initialize_by(time_period: day) %>

            <% if timesheet.has_time_sheet? %>

              <% if Work.find_by(time_sheet: timesheet).invoice.present? %>
                  <%= content_tag :td, class: [calendar.td_classes_for(day), 'has-invoice shadow'] do %>
                    <%= link_to current_day_path(day) do %>
                      <% block.call day, sorted_events.fetch(day, []) %>
                    <% end %>
                  <% end %>
              <% else %>

                  <%= content_tag :td, class: [calendar.td_classes_for(day), 'has-time-sheet shadow'] do %>
                    <%= link_to current_day_path(day) do %>
                      <% block.call day, sorted_events.fetch(day, []) %>
                    <% end %>
                  <% end %>

              <% end %>

            <% else %>
              <%= content_tag :td, class: [calendar.td_classes_for(day),'shadow'] do %>
                <%= link_to current_day_path(day) do %>
                  <% block.call day, sorted_events.fetch(day, []) %>

                 <% end %>
               <% end %>

            <% end %>

        <% end %>
        <%# if can? :read, User %>
<!--          <td>-->
            <%#= button_tag 'Approve' %>
        <%# end %>
      </tr>

    <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
<script>

</script>