<tr>
  <td colspan="4" style="margin: 0%; padding: 0%">
    <div class="col-xs-12 col-sm-3 " style="padding: 0%">

      <%= f.select(:vehicle_id, options_for_select(Vehicle.select_attributes, f.object.vehicle_id), {}, disabled: true, class: ' btn btn-default form-control') %>
    </div>
    <div class="col-xs-6 col-sm-3" style="padding: 0%">
      <%= f.number_field :od_start, min: 0, class: 'form-control ', placeholder: 'Odometer Start', disabled: true %>
    </div>
    <div class="col-xs-6 col-sm-3" style="padding: 0%">
      <%= f.number_field :od_finish, class: 'form-control ', placeholder: 'Odometer Finish', disabled: true %>
    </div>
    <div class="hidden-xs col-sm-2">
      <%= f.hidden_field :_destroy %>
      <%= link_to "remove", '#', class: "remove_fields", style: 'text-overflow:hidden', disabled: true %>
    </div>
    <div class="col-xs-12 col-sm-12" style="padding: 0%">
      <%= f.text_area :purpose, cols: "60", rows: "2", class: ' form-control description-field', placeholder: 'Travel Purpose', disabled: true %>

    </div>

  </td>
</tr>