<tr>


      <td>
        <div class="field">
          <%= f.select(:project_id, options_for_select(Project.select_attributes,)) %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.date_field :date ,:value => Time.now.strftime('%Y-%m-%d') %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.number_field :hour %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= f.text_area :description %>
        </div>
      </td>

      <td>
        <div class="field">
          <input type="text" value="">
        </div>
      </td>
       <td>
        <div class="field">
          <%= f.hidden_field :_destroy %>
          <%= link_to "remove", '#', class: "remove_fields" %>
        </div>
      </td>


</tr>