<tr style="  outline: 2px solid #ccc;">
  <td colspan="3">
  <div class="row">

  <div class="field dropdown col-xs-7 col-sm-4 "  >


          <%= f.select(:project_id, options_for_select(Project.select_attributes,f.object.project_id),{},class: ' btn btn-default form-control') %>

  </div>



        <div class="field col-xs-3 col-sm-2">
          <%= f.number_field :hour,min: 0,class: 'form-control', step: :any %>
        </div>



        <div class="field col-xs-12 col-sm-5">
          <%= f.text_area :description, cols: "60", rows: "2" ,class: 'form-control'%>
        </div>



        <div class="field col-xs-1 col-sm-1">
          <%= f.hidden_field :_destroy %>
          <%= link_to "remove", '#', class: "remove_fields",style: 'text-overflow:hidden' %>
        </div>


  </td>
</tr>
</div>