<p id="notice"><%= notice %></p>

<h1>Time Sheets</h1>


<%=week_calendar number_of_weeks: 2 do |date| %>
    <%= date %>
    <%= link_to 'TimeSheet', current_day_path(date) %>
    <%= hidden_field :date, params[:date],  :id => 'curren_date'  %>
<div id="hours" class="hours"></div>
<% end %>


