<h1>Time Sheets For <%= @time_sheets.first.user.full_name rescue '' %></h1>
<% if can? :read, User %>
  <%= form_tag({}, {:method => :get}) do %>
    <%= select_tag(:user_id, options_for_select(User.select_attributes), class: ' btn btn-default form-control') %>
    <%= submit_tag 'Search' %>
  <% end %>
<% end %>

<%= my_calendar do |date| %>
 <%= date.strftime("%d %a %b ") %>
<%end %>
