<%= form_for([@invoice.invoice_row, @invoice ]) do |f| %>
  <% if invoice_row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_row.errors.count, "error") %> prohibited this invoice_row from being saved:</h2>

      <ul>
      <% invoice_row.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.select(:project_id,options_for_select(Project.all) ) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
