<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @invoice_row.new %>
</p>

<p>
  <strong>Create:</strong>
  <%= @invoice_row.create %>
</p>

<%= link_to 'Edit', edit_invoice_row_path(@invoice_row) %> |
<%= link_to 'Back', invoice_rows_path %>
