<%= form_with(model: user_pay_obligation, local: true) do |form| %>
  <% if @user_pay_obligation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_pay_obligation.errors.count, "error") %> prohibited this users_pay_obligation from being saved:</h2>

      <ul>
      <% @user_pay_obligation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-2">
    <%= form.label :superannuation %>
    </div>
    <div class="col-sm-7">
    <%= form.text_field :superannuation, id: :user_pay_obligation_superannuation, :autofocus => true %>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
    <%= form.label :holiday %>
    </div>
    <div class="col-sm-7">
    <%= form.text_field :holiday, id: :user_pay_obligation_holiday %>
  </div>
  </div>

    <div class="row">
      <div class="col-sm-2">
    <%= form.label :hourly_rate %>
      </div>
      <div class="col-sm-7">
    <%= form.text_field :hourly_rate, id: :user_pay_obligation_hourly_rate %>
  </div>
    </div>

      <div class="row">
        <div class="col-sm-2">
    <%= form.submit  %>
        </div>
      </div>
<% end %>
