<div class="box">
<h1>  Pay Rate for   <%= @user_pay_obligation.user.full_name %>
</h1>
</div>

  <div class="box">
    <%= render 'menu' %>
  </div>
<div class="box">
<p>
  <strong>Holiday:</strong>
  <%= @user_pay_obligation.holiday %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @user_pay_obligation.hourly_rate %>
</p>

<p>
  <strong>Superannuation:</strong>
  <%= @user_pay_obligation.superannuation %></p>

<h1>Gross pay Rate <%= @gross %></h1>


</div>