<!DOCTYPE html>
<html>
<head>
  <title>Time Sheet</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag 'font-awesome.min', media: 'all' %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container-fluid"style="background-color: #7C7C7C !important; color: white">

      <div class="navbar-header" style="padding-left: 20px;color: white">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
          <span class="icon-bar" ></span>
        </button>

        <a class="navbar-brand" style="color: white" href="/"> Time Sheet</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <p class="navbar-text pull-right" style="color: white" >
          <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link', style:"color: white"%> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' , style:"color: white"%> |
              <%= link_to "Identities", user_identities_path(current_user), :class => 'navbar-link' , style:"color: white"%>
          <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' , style:"color: white"%> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link' , style:"color: white"%>|
          <% end %>
          </div>
    </div>
  <% if signed_in? %>
      <% if current_user.has_any_role? :admin, {name: :read, resource: Project}, {name: :read, resource: Invoice}, {name: :read, resource: User} %>
          <a href="#" class="navbar-btn btn btn-success pull-left" id="menu-toggle" style="margin-right:  20px">Menu</a>
      <% end %>
  <% end %>
  </nav>
<% if signed_in? %>
    <% if current_user.has_any_role? :admin, {name: :read, resource: Project}, {name: :read, resource: Invoice}, {name: :read, resource: User} %>
<div id="menuhides" class="box menu-hide-mobile col-md-2 col-xs-0 sbar" style="height:100%;position: fixed; z-index: 2;">
      <ul class="menu" >
        <% if can? :read, TimeSheet %>
          <li><%= link_to 'My Timesheets', time_sheets_path(current_user) %></li>
        <% end %>
        <% if can? :read, Invoice %>
          <li><%= link_to 'My Invoices', invoices_path(current_user) %></li>
        <% end %>
        <% if can? :read, Project %>
          <li><%= link_to 'My Projects', projects_path %></li>
        <% end %>
        <% if can? :read, Customer %>
          <li><%= link_to 'My Customers', customers_path %></li>
        <% end %>
        <% if can? :read, User %>
          <li><%= link_to 'My Users', users_path %></li>
        <% end %>
        </ul>
      </div>
        <div id="bodysize" class="container-fluid  col-md-10 col-sm-12 pull-right body-container" style="z-index: 1;">
    <% end %>
<% else %>
    <div id="bodysize" class="container-fluid  col-md-12 col-sm-12 pull-right body-container" style="z-index: 1;">

<% end %>

<br>
<%= yield %>

</div>
</body>
<!-- Copyright Start  -->

<script>

</script>

</html>
